<%- include('partials/header') %>
<%- include('partials/nav') %>
<h1>This is a calculator App</h1>
<div>
    <form action="">
        <input type="number" name="num1" id="">
        <input type="number" name="num2" id="">
        <button type="submit">Calculate</button>
    </form>
</div>

<%- include('partials/footer') %>