<%- include('partials/header') %>
<%- include('partials/nav') %>
<h1>Type in the box to fetch your current weather</h1>

<div>
    <form action="/" method="post">
        <input class="input" type="text" name="location" id="">
        <button type="submit">Fetch</button>
    </form>
</div>

<%- include('partials/footer') %>